<div class="col-lg-9 col-md-12">
    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
        <div class="dash__pad-2">
            <h1 class="dash__h1 u-s-m-b-14">My Profile</h1>

            <span class="dash__text u-s-m-b-30">Look all your info, you could customize your profile.</span>
            <div class="row" >
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8" >image</h2>

                    <span class="dash__text">{{user.image}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">FirstName</h2>

                    <span class="dash__text">{{user.firstName}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">LastName</h2>

                    <span class="dash__text">{{user.lastName}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">E-mail</h2>

                    <span class="dash__text">{{user.email}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">Phone</h2>

                    <span class="dash__text">{{user.phoneNumber}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">Birthday</h2>

                    <span class="dash__text">{{user.birthDate}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">Gender</h2>

                    <span class="dash__text">{{user.gender}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">identity</h2>

                    <span class="dash__text">{{user.identity}}</span>
                </div>

                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8" *ngIf=user.brandName>brandName</h2>

                    <span class="dash__text">{{user.brandName}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30" *ngIf=user.brandLogo>
                    <h2 class="dash__h2 u-s-m-b-8" >brandLogo</h2>

                    <span class="dash__text">{{user.brandLogo}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30" *ngIf=user.justification>
                    <h2 class="dash__h2 u-s-m-b-8">justification</h2>

                    <span class="dash__text">{{user.justification}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">city</h2>

                    <span class="dash__text">{{user.city}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30">
                    <h2 class="dash__h2 u-s-m-b-8">governorate</h2>

                    <span class="dash__text">{{user.governorate}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30" *ngIf=user.gear>
                    <h2 class="dash__h2 u-s-m-b-8">gear</h2>

                    <span class="dash__text">{{user.gear}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30" *ngIf=user.driveLicense>
                    <h2 class="dash__h2 u-s-m-b-8">driveLicense</h2>

                    <span class="dash__text">{{user.driveLicense}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30" *ngIf=user.GearAge>
                    <h2 class="dash__h2 u-s-m-b-8">GearAge</h2>

                    <span class="dash__text">{{user.GearAge}}</span>
                </div>
                <div class="col-lg-4 u-s-m-b-30" *ngIf=user.levelDelivery>
                    <h2 class="dash__h2 u-s-m-b-8">levelDelivery</h2>

                    <span class="dash__text">{{user.levelDelivery}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="dash__link dash__link--secondary u-s-m-b-30">

                        <a data-modal="modal" data-modal-id="#dash-newsletter">Subscribe Newsletter</a></div>
                    <div class="u-s-m-b-16">

                        <a class="ship-b__edit btn--e-transparent-platinum-b-2" type="button"  data-toggle="modal" data-target="#edit" >Edit Profile </a>
                    <div>

                    
                </div>
            </div>
        </div>
    </div>
     <!--====== Shipping Address Add Modal ======-->
     <div class="modal fade" id="edit" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
               <form name="form" (ngSubmit)="update(f)" #f="ngForm">
                    <div class="row row--center">
                    
                        <div class="l-f-o">
                          <div class="l-f-o__pad-box">
                           
                              <div class="dash__pad-2">
                                  <h1 class="dash__h1 u-s-m-b-14">Edit Profile</h1>
                              
                                  <span class="dash__text u-s-m-b-30">Looks like you haven't update your profile</span>
                                  <div class="dash__link dash__link--secondary u-s-m-b-30">
        
                              <div class="u-s-m-b-30" *ngIf=user.image>
                                <label class="gl-label" for="photo"
                                  >PROFILE PICTURE *</label
                                >
                                <input type="file"  accept=".png" id="photo" name="photo" [(ngModel)]="user.image"  />
                              </div>
        
                              <div class="u-s-m-b-30" *ngIf= user.firstName>
                                <label class="gl-label" id="espace" for="reg-fname"
                                  >FIRST NAME *</label
                                >
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="text"
                                  id="reg-fname"
                                  placeholder="First Name"   name="firstName"  [(ngModel)]="user.firstName"
                                />
                              </div>
                              <div class="u-s-m-b-30"  *ngIf= user.lastName >
                                <label class="gl-label" for="reg-lname"
                                  >LAST NAME *</label
                                >
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="text"
                                  id="reg-lname"
                                  placeholder="Last Name" name="lastName"  [(ngModel)]="user.lastName"
                                />
                              </div>
        
                                <div class="u-s-m-b-30"  >
                                  <!--====== Date of Birth Select-Box ======-->
        
                                  <span class="gl-label">BIRTHDAY *</span>
        
        
                                  <input type="date" id="start" name="trip-start"
        
                                         min="1991-01-01" max="2005-12-31"  [(ngModel)]="user.birthDate" >
        
                                  <!--====== End - Date of Birth Select-Box ======-->
        
        
                                <div class="u-s-m-b-30">
                                  <label class="gl-label" for="gender">GENDER *</label
                                  ><select
                                    class="select-box select-box--primary-style u-w-100"
                                    id="gender" name="gender"  [(ngModel)]="user.gender"   
                                  >
                                   <option value="MAN">MAN</option>
                                    <option value="WOMEN">WOMEN</option>
                                    <option value="OTHER">OTHER</option>
                                  </select>
                                </div>
                              </div>
        
                              <div class="u-s-m-b-30">
                                <label class="gl-label" for="phone"
                                  >PHONE-NUMBER *</label
                                >
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="tel"
                                  id="phone"
                                  name="phone"
                                  pattern="[0-9]{2}-[0-9]{3}-[0-9]{3}"
                                  placeholder="Enter phone-Number"  [(ngModel)]="user.phoneNumber"
                                  required
                                />
        
                                <div class="u-s-m-b-30"  *ngIf= user.identity>
                                  <label class="gl-label" id="espace" for="reg-Iname"
                                    >IDENTITY *</label
                                  >
        
                                  <input
                                    class="input-text input-text--primary-style"
                                    type="text"
                                    id="reg-Iname"
                                    placeholder="identity" name="identity"  [(ngModel)]="user.identity"
                                  />
                                </div>
        
                                <div class="u-s-m-b-30" *ngIf=user.brandName>
                                  <label class="gl-label" id="espace" for="reg-bname"
                                    >BRAND NAME *</label
                                  >
        
                                  <input
                                    class="input-text input-text--primary-style"
                                    type="text"
                                    id="reg-bname"
                                    placeholder="BrandName"   name="brandName"  [(ngModel)]="user.brandName"
                                  />
                                </div>
        
                                <div class="u-s-m-b-30"  *ngIf= user.brandLogo>
                                  <label class="gl-label" id="espace" for="reg-bLname" 
                                    >BRAND LOGO *</label
                                  >
        
                                  <input
        
                                    type="file"
                                    accept=".png"
                                    id="reg-bLname"
                                    placeholder="BrandLogo"   name="brandlogo"  [(ngModel)]="user.brandLogo"
                                  />
                                </div>
        
                                <div class="u-s-m-b-30"  *ngIf= user.justification>
        
                                  <label class="gl-label" id="espace" for="reg-Jname"
                                    >JUSTIFICATION *(Place Your Document)</label
                                  >
        
                                  <input
        
                                    type="file"
                                    accept=".pdf"
                                    id="reg-Jname"
                                    placeholder="Justification"  name="Justification"  [(ngModel)]="user.justification" 
                                  />
                                </div>
      
                                
                              <div class="u-s-m-b-30"  *ngIf= user.gear>
                                  <label  class="gl-label" for="gear">GEAR *</label>
                                  <select
                                  class="select-box select-box--primary-style u-w-100"
        
                                  id="reg-Gname"
                                   name="gear"  [(ngModel)]="user.gear"
                                >
        
                                  <option value="CAR">CAR</option>
                                  <option value="MOTO">MOTO</option>
                                  <option value="TRUCK">TRUCK</option>
                                  <option value="BIKE">BIKE</option>
                                </select>
                                  </div>
        
        
        
        
        
                                <div class="u-s-m-b-30"  *ngIf= user.driveLicense>
                                  <label class="gl-label" id="espace" for="reg-Dname"
                                    >DRIVER LICENSE *</label>
        
                                  <input
                                    class="input-text input-text--primary-style"
                                    type="text"
                                    id="reg-Dname"
                                    placeholder="DriverLicense"  name="DriverLicense"  [(ngModel)]="user.driveLicense"
                                  />
                                </div>
                                <div class="u-s-m-b-30"  *ngIf= user.GearAge>
                                  <label class="gl-label" id="espace" for="reg-Gname"
                                    >GEAR AGE *</label
                                  >
        
                                  <input
                                    class="input-text input-text--primary-style"
                                    type="text"
                                    id="reg-Gname"
                                    placeholder="GearAge" name="GearAge"  [(ngModel)]="user.GearAge"
                                  />
                                </div>
        
                               
                                <div class="u-s-m-b-30" >
                                <label class="gl-label">GOVERNORATE *   </label>
        
                                  <select class="select-box select-box--primary-style u-w-100" id="governorate" name="governorate" [(ngModel)]="selectedGovernorate"  [(ngModel)]="shipping.governorate"(ngModelChange)="updateCities()">
                                    <option *ngFor="let gov of governorates" [value]="gov.name">{{ gov.name }}</option>
                                  </select>
                                </div>
        
                                <div class="u-s-m-b-30" >
                                    <label class="gl-label">CITY *</label>
        
                                    <select  class="select-box select-box--primary-style u-w-100" id="city" name="city" [(ngModel)]="shipping.city">
                                    <option>{{ shipping.city }}</option>
                                    <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                                    </select>
        
                                </div>
                                <label class="gl-label" for="reg-email">E-MAIL *</label>
        
                                <input
                                  class="input-text input-text--primary-style"
                                  type="text"
                                  id="reg-email"
                                  placeholder="Enter E-mail" name="email"  [(ngModel)]="user.email"
                                />
                              </div>
                              <div class="u-s-m-b-30">
                                <label class="gl-label" for="reg-password"
                                  >PASSWORD *</label
                                >
      
                                <input
                                  class="input-text input-text--primary-style"
                                  type="password"
                                  id="psw" name="psw"
                                  placeholder="Enter Password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required  [(ngModel)]="user.password"
                                />
                              </div>
                              <button  class="btn btn--e-brand-b-2" data-toggle="modal" data-target="#ShowConfirmation"  type="submit">SAVE</button>
                          </div>
                        </div>
                      
                    </div>
                 
                </div>
           
            </div>
        </form>
          </div>
        </div>
      </div>
      <!--====== End - Shipping Address Add Modal ======-->
  
      <div class="modal fade" id="ShowConfirmation">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="checkout-modal1">
                    <div class="f-cart__pad-box">
                      <div class="section__text-wrap">
                        <h1 class="section__heading u-c-brand">Profile Changed</h1>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>