<div class="grid">
  <div class="col-12">
    <div class="card card-w-title">
      <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
    </div>
  </div>
  <div class="col-12 xl:col-8">
    <div class="card">
      <h5>Events Table</h5>
      <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt1 [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['title','startDate','lastDate']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Events</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
            <th>Image</th>
            <th pSortableColumn="startDate">Start Date <p-sortIcon field="startDate"></p-sortIcon></th>
            <th pSortableColumn="lastDate">End Date <p-sortIcon field="lastDate"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Title</span>
              {{product.title}}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>

              <img src="../../../assets/uploads/{{product.bandLing}}" [alt]="product.bandLing" width="100" class="shadow-4" />
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Start Date</span>
              {{product.startDate}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">End Date</span>
              {{product.lastDate}}
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteProduct(product)"></button>
                <button pButton pRipple icon="pi pi-book" class="p-button-rounded p-button-help mr-2" (click)="displayProducts(product)"></button>
                <button pButton pRipple icon="pi pi-key" class="p-button-rounded p-button-loading-icon mr-2" (click)="displayKeyWords(product)"></button>
              </div>
          </tr>
        </ng-template>
      </p-table>
    </div>
      <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Event Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <img  src="../../../assets/uploads/{{product.bandLing}}" [alt]="product.bandLing" width="250" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.bandLing">

        <div class="my-2">
          <label class="custom-file-upload">
            <input type="file" accept="image/*" (change)="handleFileInput($event)">
            Choose File
          </label>
        </div>


        <br>
        <br>
        <div class="field">
          <label for="title">Title</label>
          <input type="text" pInputText id="title" [(ngModel)]="NewEvent.title" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !NewEvent.title}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !NewEvent.title">Title is required.</small>
        </div>
        <br>
        <br>
        <div class="field">
          <label for="startDate">Start Date</label>
          <p-calendar inputId="calendar" [(ngModel)]="NewEvent.startDate" class="ng-invalid ng-dirty p-calendar" [showIcon]="true"></p-calendar>
        </div>
        <br>
        <br>
        <div class="field">
          <label for="lastDate">End Date</label>
          <p-calendar inputId="calendar" [(ngModel)]="NewEvent.lastDate" class="ng-invalid ng-dirty p-calendar" [showIcon]="true"></p-calendar>
        </div>
        <br>
        <br>

      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
      </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="keyDialog" [style]="{width: '450px'}" header="Add KeyWord" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="title">Keyword</label>
          <input type="text" pInputText id="title" [(ngModel)]="newKey.word" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submittedKey && !newKey.word}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submittedKey && !newKey.word">Key Word is required.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideKeyDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveKey()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Are you sure you want to delete <b>{{product.title}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected Events?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteKeywordsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected keywords?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteKeywordsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelectedKeys()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="productDisplay" [style]="{width: '750px'}" header="Products Display" [modal]="true" class="p-fluid">

      <p-carousel [value]="productsDisp" [numVisible]="1" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
        <ng-template let-prod pTemplate="item">
          <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
            <div class="my-5">
            <img width="250" height="200" class="shadow-4" src="../../../assets/prodcutsImages/{{prod.image}}" [alt]="prod.image"  />
            </div>
            <div>
              <h5 class="mb-1">{{prod.name}}</h5>
              <h6 class="mt-0 mb-3">DT {{prod.productPrice}}</h6>
            </div>
          </div>
        </ng-template>
      </p-carousel>

    </p-dialog>

    <p-dialog [(visible)]="KeysDisplay" [style]="{width: '750px'}" header="Products Display" [modal]="true" class="p-fluid">
      <div class="card px-6 py-6">
        <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewKey()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedKeywords()" [disabled]="!selectedKeyWords || !selectedKeyWords.length"></button>
          </div>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="keywordsList" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['title']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedKeyWords" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Events</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product1>
          <tr>
            <td>
              <p-tableCheckbox [value]="product1"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Key Word</span>
              {{product1.word}}
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteKeyword(product1)"></button>
              </div>
          </tr>
        </ng-template>
      </p-table>
      </div>
    </p-dialog>
  </div>
    <div class="card" >
      <h5>Event Linear Chart</h5>
      <div class="card">
      <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
      </div>
    </div>
  </div>

  <div class="col-12 xl:col-4 ">
    <div class="card">
    <h5>Events TimeLine</h5>
      <div class="card">
    <p-timeline [value]="products" align="alternate" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-event>
        <span class="flex z-1 w-2rem h-2rem align-items-center justify-content-center text-white border-circle shadow-2" style="background-color: #b2abeb">
            <i class="pi pi-angle-down"></i>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <p-card [header]="event.title" [subheader]="event.startDate">
          <img *ngIf="event.bandLing" [src]="'../../../assets/uploads/'+event.bandLing" [alt]="event.title" width="100" class="shadow-2" />
          <p class="line-height-3 my-3"></p>
        </p-card>
      </ng-template>
    </p-timeline>
      </div>
  </div>
  </div>

</div>
