<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','title','startDate','lastDate']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Events</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
            <th>Image</th>
            <th pSortableColumn="startDate">Start Date <p-sortIcon field="startDate"></p-sortIcon></th>
            <th pSortableColumn="lastDate">End Date <p-sortIcon field="lastDate"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
              {{product.code || product.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Title</span>
              {{product.title}}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>

              <img src="../../../assets/uploads/{{product.bandLing}}" [alt]="product.bandLing" width="100" class="shadow-4" />
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">Start Date</span>
              {{product.startDate}}
            </td>
            <td style="width:14%; min-width:10rem;">
              <span class="p-column-title">End Date</span>
              {{product.lastDate}}
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
              </div>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <img  src="../../../assets/uploads/{{product.bandLing}}" [alt]="product.bandLing" width="250" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.bandLing">

        <div class="my-2">
          <label class="custom-file-upload">
            <input type="file" accept="image/*" (change)="handleFileInput($event)">
            Choose File
          </label>
        </div>


        <br>
        <br>
        <div class="field">
          <label for="title">Title</label>
          <input type="text" pInputText id="title" [(ngModel)]="NewEvent.title" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !NewEvent.title}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !NewEvent.title">Name is required.</small>
        </div>
        <br>
        <br>
        <div class="field">
          <label for="startDate">Start Date</label>
          <p-calendar inputId="calendar" [(ngModel)]="NewEvent.startDate" class="ng-invalid ng-dirty p-calendar" [showIcon]="true"></p-calendar>
        </div>
        <br>
        <br>
        <div class="field">
          <label for="lastDate">End Date</label>
          <p-calendar inputId="calendar" [(ngModel)]="NewEvent.lastDate" class="ng-invalid ng-dirty p-calendar" [showIcon]="true"></p-calendar>
        </div>
        <br>
        <br>

      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product">Are you sure you want to delete <b>{{product.title}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
