<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

<!--====== Vendor Css ======-->
<link rel="stylesheet" href="../../../../assets/front-template/css/vendor.css">

<!--====== Utility-Spacing ======-->
<link rel="stylesheet" href="../../../../assets/front-template/css/utility.css">

<!--====== App ======-->
<link rel="stylesheet" href="../../../../assets/front-template/css/app.css">



<body class="config">

<!--====== Main App ======-->
<div id="app">

   <!--====== Main Header ======-->
   <app-header></app-header>

   <!--====== End - Main Header ======-->


    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="index.html">Home</a></li>
                                <li class="is-marked">

                                    <a href="signin.html">Signin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Intro ======-->
            <div class="section__intro u-s-m-b-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__text-wrap">
                                <h1 class="section__heading u-c-secondary">Claim Service Management</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Intro ======-->

            <div class="container u-s-p-b-60">
            <!--====== Section Content ======-->
            <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius u-s-m-b-30">
                <div class="dash__table-2-wrap gl-scroll">
                    <table class="dash__table-2">
                <thead>
                  <tr>
                    <th>Reference</th>
                    <th>Object</th>
                    <th>Status</th>

                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let claim of claims">
                <tr >
                    <td>{{ claim.reference }}</td>
                    <td>{{ claim.object }}</td>
                    <td>{{ claim.status }}</td>

                    <td>
                      <button class="btn btn-sm btn-primary" (click)="updateClaim(claim)">Edit</button>
                      <button class="btn btn-sm btn-danger" (click)="deleteClaim(claim.id)">Delete</button>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
        </div>
            <!--====== End - Section Content ======-->
            </div>
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->


    <!--====== Main Footer ======-->
    <app-footer></app-footer>
</div>
<!--====== End - Main App ======-->
