<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="col-12">
    <div class="card card-w-title">
      <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">NONTRAITE Claims</span>
            <div class="text-900 font-medium text-xl">{{NONTRAITE}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-yellow-100 border-round" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-inbox text-yellow-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">%{{(NONTRAITE/leng*100) | number:'1.2-2'}} </span>
        <span class="text-500"> from</span>
        <span class="text-green-500 font-medium"> {{leng}}</span>
        <span class="text-500"> Claims</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">APPROVED Claims</span>
            <div class="text-900 font-medium text-xl">{{APPROVED}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-green-100 border-round" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-check-circle text-green-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">%{{(APPROVED/leng*100) | number:'1.2-2'}} </span>
        <span class="text-500"> from</span>
        <span class="text-green-500 font-medium"> {{leng}}</span>
        <span class="text-500"> Claims</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">REJECTED Claims</span>
            <div class="text-900 font-medium text-xl">{{REJECTED}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-red-100 border-round" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-times-circle text-red-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">%{{(REJECTED/leng*100) | number:'1.2-2'}} </span>
        <span class="text-500"> from</span>
        <span class="text-green-500 font-medium"> {{leng}}</span>
        <span class="text-500"> Claims</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">COMPLETED Claims</span>
            <div class="text-900 font-medium text-xl">{{COMPLETED}}</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
            <i class="pi pi-money-bill text-blue-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">%{{(COMPLETED/leng*100) | number:'1.2-2'}} </span>
        <span class="text-500"> from</span>
        <span class="text-green-500 font-medium"> {{leng}}</span>
        <span class="text-500"> Claims</span>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <h5>Claims Data</h5>
      <p-table #dt9 [value]="claims" dataKey="id" [rows]="4" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['reference','user.firstName','object','body','screenshot','status','ClaimSavType','createdAt','updatedAt']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt9)"></button>
            <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt9, $event)" placeholder="Search Keyword" class="w-full"/>
          </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Referance
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                User Name
              </div>
            </th>
            <th style="min-width: 14rem">
              <div class="flex justify-content-between align-items-center">
                Object
              </div>
            </th>
            <th style="min-width: 10rem">
              <div class="flex justify-content-between align-items-center">
                Body
              </div>
            </th>
            <th style="min-width: 10rem">
              <div class="flex justify-content-between align-items-center">
                ScreenShot
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Status
              </div>
            </th>
            <th style="min-width: 8rem">
              <div class="flex justify-content-between align-items-center">
                Type
              </div>
            </th>
            <th style="min-width: 8rem">
              <div class="flex justify-content-between align-items-center">
                UpdatedAt
              </div>
            </th>
            <th style="min-width: 8rem">
              <div class="flex justify-content-between align-items-center">
                CreatedAt
              </div>
            </th>
            <th style="min-width: 8rem">
              <div class="flex justify-content-between align-items-center">

              </div>
            </th>
            <th style="min-width: 8rem">
              <div class="flex justify-content-between align-items-center">

              </div>
            </th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-c >
          <tr>
            <td>
              {{c.reference}}
            </td>
            <td>
              {{c.user.firstName}}
            </td>
            <td>
              {{c.object}}
            </td>
            <td>
              {{c.body}}
            </td>
            <td>
              <span class="image-text ml-2">{{c.screenshot}}</span>
            </td>
            <td>
              {{c.status}}
            </td>
            <td>
              {{c.claimSavType}}
            </td>
            <td>
              {{c.createdAt | date: 'dd/MM/yyyy'}}
            </td>
            <td>
              {{c.updatedAt | date: 'dd/MM/yyyy'}}
            </td>
            <td class="text-center">
              <i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': (c.status=='APPROVED'), 'false-icon pi-times-circle text-pink-500': (c.status=='REJECTED')}"></i>
            </td>
            <td>
                <button class="btn btn-outline-secondary mr-2" (click)="updateClaim('APPROVED',c.id)">Approve</button>
                <br>
                <button class="btn btn-outline-danger mr-2" (click)="updateClaim('REJECTED',c.id)">Reject</button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
      <br>
      <br>
</div>
</div>
<div class="col-12">
  <div class="card">
  <div class="col-5 my-2">
    <input class="mr-2" pInputText type="text" [(ngModel)]="add.word"#filter placeholder="Add BadWord"/><button class="btn btn-outline-secondary" (click)="addBadWord()">Add</button>
   </div>
    <p-table #dt6 [value]="badwords" dataKey="id" [rows]="4" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['word']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt6, $event)" placeholder="Search Keyword" class="w-full"/>
          </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                BadWords
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">

              </div>
            </th>



          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-b >
          <tr>
            <td>
              {{b.word}}
            </td>
            <td>

              <button class="btn btn-outline-danger mr-2" (click)="deleteBadWord(b.id)">Delete</button>
          </td>


          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No customers found.</td>
          </tr>
        </ng-template>




      </p-table>

    </div>
  </div>
  <div class="col-12">
    <div class="card">
    <div class="col-5 my-2">

          <input class="mr-2" pInputText type="text" [(ngModel)]="addgood.name" #filter placeholder="Add Feelings">
            <button class="btn btn-outline-secondary mr-2" (click)="addGoodFeeling()" >Add</button>
            </div>
      <p-table #dt4 [value]="goodfeeling" dataKey="id" [rows]="4" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">


            <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="onGlobalFilter(dt4, $event)" placeholder="Search Keyword" class="w-full"/>
          </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                GoodFeelings
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">

              </div>
            </th>



          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-g >
          <tr>
            <td>
              {{g.name}}
            </td>
            <td>

              <button class="btn btn-outline-danger mr-2" (click)="deleteGoodFeelings(g.id)">Delete</button>
          </td>


          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


  <div class="col-12">
    <div class="card">
      <div class="d-flex align-items-center">
        <input class="mr-2" pInputText type="text" [(ngModel)]="addbad.name" #filter placeholder="Add Feelings">
        <button class="btn btn-outline-secondary" (click)="addBadFeelings()">Add</button>
      </div>
  <p-table #dt2 [value]="badfeeling" dataKey="id" [rows]="4" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name']" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between flex-column sm:flex-row">

        <span class="p-input-icon-left mb-2">
        <i class="pi pi-search"></i>
        <input pInputText type="text" #filter (input)="onGlobalFilter(dt2, $event)" placeholder="Search Keyword" class="w-full"/>
      </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 12rem">
          <div class="flex justify-content-between align-items-center">
            BadFeelings
          </div>
        </th>
        <th style="min-width: 12rem">
          <div class="flex justify-content-between align-items-center">

          </div>
        </th>



      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bd >
      <tr>
        <td>
          {{bd.name}}
        </td>
        <td>

          <button class="btn btn-outline-danger mr-2"(click)="deleteBadFeelings(bd.id)" >Delete</button>
      </td>


      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
</div>




