  <div class="min-height-200px" >
    <div class="page-header" style="margin-top: 3px;">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>My Map</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                The Branch Map
              </li>
            </ol>
          </nav>
        </div>
      </div>
      </div>
      <div class="pd-20 card-box mb-30 ">

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="5">
          <div *ngFor="let b of branch">
            <div *ngIf="b.x">
          <agm-marker [latitude]="b.x" [longitude]="b.y" [markerClickable]="true"(markerClick)="markerClick(b)">
            <agm-info-window><strong>{{b.brandName}}</strong></agm-info-window>
          </agm-marker>
        </div>
      </div>
    </agm-map>



      </div>
  </div>
