#wrapper {
    font-family: Lato;
    font-size: 1.5rem;
    text-align: center;
    box-sizing: border-box;
    color: #333;
    
    #dialog {
      border: solid 1px #ccc;
      margin: 10px auto;
      padding: 20px 30px;
      display: inline-block;
      box-shadow: 0 0 4px #ccc;
      background-color: #FAF8F8;
      overflow: hidden;
      position: relative;
      max-width: 450px;
      
      h3 {
        margin: 0 0 10px;
        padding: 0;
        line-height: 1.25;
      }
      
      span {
        font-size: 90%;
      }
      
      #form {
        max-width: 240px;
        margin: 25px auto 0;
        
        input {
          margin: 0 5px;
          text-align: center;
          line-height: 30px;
          font-size: 30px;
          border: solid 1px #ccc;
          box-shadow: 0 0 5px #ccc inset;
          outline: none;
          width: 100%;
          transition: all .2s ease-in-out;
          border-radius: 3px;
          
          &:focus {
            border-color: #ff4500;
            box-shadow: 0 0 5px #ff4500 inset;
          }
          
          &::selection {
            background: transparent;
          }
        }
        
        button {
          margin:  30px 0 50px;
          width: 100%;
          padding: 8px;
          background-color: #ff4500;
          border: none;
          text-transform: uppercase;
        }
      }
      
     
      
     
      
    }
  }