.btn-lg1 {
    --bs-btn-padding-y: 0.4rem;
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-font-size: 1.24rem;
    --bs-btn-border-radius: 0.5rem;
}
.btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: 0.5rem;
}
.inline{
        display: inline-flex;
      
}