

<div class="pd-ltr-20">
  <div class="card-box pd-20 height-100-p mb-30">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="../../../assets/vendors/images/banner-img.png" alt="" />
      </div>
      <div class="col-md-8">
        <h4 class="font-20 weight-500 mb-10 text-capitalize">
          Welcome back
          <div class="weight-600 font-30 text-blue">{{user.firstName}} {{user.lastName}}</div>
        </h4>
        <p class="font-18 max-width-600">

          Delivery management is crucial for the success of any Store It ensures that products are delivered on time and in good condition,
           which in turn leads to happy customers and increased sales.
        </p>
      </div>
    </div>
  </div>




  <div class="row pb-10">
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbba}}</div>
            <div class="font-14 text-secondary weight-500">
              All Branches
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" >
              <span class="icon-copy bi bi-pin-map"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbd}}</div>
            <div class="font-14 text-secondary weight-500">
              All DeliveryMen
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" >
              <span class="icon-copy  bi bi-person-fill"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbrra}}</div>
            <div class="font-14 text-secondary weight-500">
              All Requests Approved
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon">
              <i
                class="icon-copy bi bi-clipboard2-check-fill"
                aria-hidden="true"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbrrtad}}</div>
            <div class="font-14 text-secondary weight-500"> All Pickups Delivered</div>
          </div>
          <div class="widget-icon">
            <div class="icon" >
              <i class="icon-copy bi bi-check-circle-fill" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{cpafa}}</div>
            <div class="font-14 text-secondary weight-500">
              Assigned
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" data-color="#00eccf">
              <i class="icon-copy dw bi bi-activity"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{cpta}}</div>
            <div class="font-14 text-secondary weight-500">
              Taked
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" data-color="#00eccf">
              <i class="icon-copy dw  bi bi-box2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbrrtda}}</div>
            <div class="font-14 text-secondary weight-500">
              On The Way
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" data-color="#ff5b5b">
              <span class="icon-copy  bi bi-truck"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbrrdta}}</div>
            <div class="font-14 text-secondary weight-500">
              Returned
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" data-color="#ff5b5b">
              <span class="icon-copy  fa fa-home"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

    <div class="xs-pd-20-10 pd-ltr-20">
      <div class="title pb-20">
        <h2 class="h3 mb-0">My Agency Overview</h2>
      </div>


      <div class="row">
        <div class="col-lg-4 col-md-6 mb-20">
          <div class="card-box height-100-p pd-20 min-height-200px">
            <div class="d-flex justify-content-between pb-10">
              <div class="h5 mb-0">Top Delivery Men </div>
              <div class="dropdown">
                <a
                  class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                  data-color="#1b3133"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                >
                  <i class="dw dw-more"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                >
                  <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                  >
                </div>
              </div>
            </div>
            <div class="user-list">
              <ul>
                <li class="d-flex align-items-center justify-content-between" *ngFor="let i of agencyDM">
                  <div class="name-avatar d-flex align-items-center pr-2">
                    <div class="avatar mr-2 flex-shrink-0">
                      <img
                        src="../../../assets/vendors/images/photo1.jpg"
                        class="border-radius-100 box-shadow"
                        width="50"
                        height="50"
                        alt=""
                      />
                    </div>
                    <div class="txt">
                      <span
                        class="badge badge-pill badge-sm"
                        data-bgcolor="#e7ebf5"
                        data-color="#265ed7"
                        >4.9</span
                      >
                      <div class="font-14 weight-600">{{i.firstName}} {{i.lastName}}</div>
                      <div class="font-12 weight-500" data-color="#b2b1b6">
                        {{i.agencyBranch.brandName}}
                      </div>
                    </div>
                  </div>
                  <div class="cta flex-shrink-0">
                    <a href="#" class="btn btn-sm btn-outline-primary"
                      >Tips</a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-20">
          <div class="card-box height-100-p pd-20 min-height-200px">
            <div class="d-flex justify-content-between pb-10">
              <div class="h5 mb-0">Top Agency Branch</div>
              <div class="dropdown">
                <a
                  class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                  data-color="#1b3133"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                >
                  <i class="dw dw-more"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                >
                  <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                  >
                </div>
              </div>
            </div>
            <div class="user-list">
              <ul>
                <li class="d-flex align-items-center justify-content-between" *ngFor="let i of agencyy">
                  <div class="name-avatar d-flex align-items-center pr-2">
                    <div class="avatar mr-2 flex-shrink-0">
                      <img
                        src="../../../assets/vendors/images/photo1.jpg"
                        class="border-radius-100 box-shadow"
                        width="50"
                        height="50"
                        alt=""
                      />
                    </div>
                    <div class="txt">
                      <span
                        class="badge badge-pill badge-sm"
                        data-bgcolor="#e7ebf5"
                        data-color="#265ed7"
                        >4.9</span
                      >
                      <div class="font-14 weight-600">{{i.brandName}}</div>
                      <div class="font-12 weight-500" data-color="#b2b1b6">
                        {{i.city}}-{{i.governorate}}
                      </div>
                    </div>
                  </div>
                  <div class="cta flex-shrink-0">
                    <a href="#" class="btn btn-sm btn-outline-primary"
                      >Tips For Agency</a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-20">
          <div class="card-box height-100-p pd-20 min-height-200px">
            <div class="max-width-300 mx-auto">
              <img src="../../../assets/vendors/images/upgrade.svg" alt="" />
            </div>
            <div class="text-center">
              <div class="h5 mb-1">Your Level is <strong>{{user.levelDelivery}}</strong></div>
              <div
                class="font-14 weight-500 max-width-200 mx-auto pb-20"
                data-color="#a6a6a7"
              >
                You Must Delivery more than 100 colis to pass to other level
              </div>
              <a href="#" class="btn btn-primary btn-lg">Upgrade</a>
            </div>
          </div>
        </div>
      </div>



    </div>




