

<div class="pd-ltr-20">
  <div class="card-box pd-20 height-100-p mb-30">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="../../../assets/vendors/images/banner-img.png" alt="" />
      </div>
      <div class="col-md-8">
        <h4 class="font-20 weight-500 mb-10 text-capitalize">
          Welcome back
          <div class="weight-600 font-30 text-blue">{{user.firstName}} {{user.lastName}}</div>
        </h4>
        <p class="font-18 max-width-600">

          Delivery management is crucial for the success of any Store It ensures that products are delivered on time and in good condition,
           which in turn leads to happy customers and increased sales.
        </p>
      </div>
    </div>
  </div>




  <div class="row pb-10">
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbba}}</div>
            <div class="font-14 text-secondary weight-500">
              All Branches
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" >
              <span class="icon-copy bi bi-pin-map"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbd}}</div>
            <div class="font-14 text-secondary weight-500">
              All DeliveryMen
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" >
              <span class="icon-copy  bi bi-person-fill"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbrra}}</div>
            <div class="font-14 text-secondary weight-500">
              All Requests Approved
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon">
              <i
                class="icon-copy bi bi-clipboard2-check-fill"
                aria-hidden="true"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbrrtad}}</div>
            <div class="font-14 text-secondary weight-500"> All Pickups Delivered</div>
          </div>
          <div class="widget-icon">
            <div class="icon" >
              <i class="icon-copy bi bi-check-circle-fill" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{cpafa}}</div>
            <div class="font-14 text-secondary weight-500">
              Assigned
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" data-color="#00eccf">
              <i class="icon-copy dw bi bi-activity"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{cpta}}</div>
            <div class="font-14 text-secondary weight-500">
              Taked
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" data-color="#00eccf">
              <i class="icon-copy dw  bi bi-box2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbrrtda}}</div>
            <div class="font-14 text-secondary weight-500">
              On The Way
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" data-color="#ff5b5b">
              <span class="icon-copy  bi bi-truck"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
      <div class="card-box height-100-p widget-style3">
        <div class="d-flex flex-wrap">
          <div class="widget-data">
            <div class="weight-700 font-24 text-dark">{{nbrrdta}}</div>
            <div class="font-14 text-secondary weight-500">
              Returned
            </div>
          </div>
          <div class="widget-icon">
            <div class="icon" data-color="#ff5b5b">
              <span class="icon-copy  fa fa-home"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

    <div class="xs-pd-20-10 pd-ltr-20">
      <div class="title pb-20">
        <h2 class="h3 mb-0">My Agency Overview</h2>
      </div>


      <div class="row">
        <div class="col-lg-4 col-md-6 mb-20">
          <div class="card-box height-100-p pd-20 min-height-200px">
            <div class="d-flex justify-content-between pb-10">
              <div class="h5 mb-0">Top Delivery Men </div>
              <div class="dropdown">
                <a
                  class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                  data-color="#1b3133"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                >
                  <i class="dw dw-more"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                >
                  <a class="dropdown-item" href="#"
                    ><i class="dw dw-eye"></i> View</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="dw dw-edit2"></i> Edit</a
                  >
                  <a class="dropdown-item" href="#"
                    ><i class="dw dw-delete-3"></i> Delete</a
                  >
                </div>
              </div>
            </div>
            <div class="user-list">
              <ul>
                <li class="d-flex align-items-center justify-content-between">
                  <div class="name-avatar d-flex align-items-center pr-2">
                    <div class="avatar mr-2 flex-shrink-0">
                      <img
                        src="../../../assets/vendors/images/photo1.jpg"
                        class="border-radius-100 box-shadow"
                        width="50"
                        height="50"
                        alt=""
                      />
                    </div>
                    <div class="txt">
                      <span
                        class="badge badge-pill badge-sm"
                        data-bgcolor="#e7ebf5"
                        data-color="#265ed7"
                        >4.9</span
                      >
                      <div class="font-14 weight-600">Dr. Neil Wagner</div>
                      <div class="font-12 weight-500" data-color="#b2b1b6">
                        Pediatrician
                      </div>
                    </div>
                  </div>
                  <div class="cta flex-shrink-0">
                    <a href="#" class="btn btn-sm btn-outline-primary"
                      >Schedule</a
                    >
                  </div>
                </li>
                <li class="d-flex align-items-center justify-content-between">
                  <div class="name-avatar d-flex align-items-center pr-2">
                    <div class="avatar mr-2 flex-shrink-0">
                      <img
                        src="../../../assets/vendors/images/photo2.jpg"
                        class="border-radius-100 box-shadow"
                        width="50"
                        height="50"
                        alt=""
                      />
                    </div>
                    <div class="txt">
                      <span
                        class="badge badge-pill badge-sm"
                        data-bgcolor="#e7ebf5"
                        data-color="#265ed7"
                        >4.9</span
                      >
                      <div class="font-14 weight-600">Dr. Ren Delan</div>
                      <div class="font-12 weight-500" data-color="#b2b1b6">
                        Pediatrician
                      </div>
                    </div>
                  </div>
                  <div class="cta flex-shrink-0">
                    <a href="#" class="btn btn-sm btn-outline-primary"
                      >Schedule</a
                    >
                  </div>
                </li>
                <li class="d-flex align-items-center justify-content-between">
                  <div class="name-avatar d-flex align-items-center pr-2">
                    <div class="avatar mr-2 flex-shrink-0">
                      <img
                        src="../../../assets/vendors/images/photo3.jpg"
                        class="border-radius-100 box-shadow"
                        width="50"
                        height="50"
                        alt=""
                      />
                    </div>
                    <div class="txt">
                      <span
                        class="badge badge-pill badge-sm"
                        data-bgcolor="#e7ebf5"
                        data-color="#265ed7"
                        >4.9</span
                      >
                      <div class="font-14 weight-600">Dr. Garrett Kincy</div>
                      <div class="font-12 weight-500" data-color="#b2b1b6">
                        Pediatrician
                      </div>
                    </div>
                  </div>
                  <div class="cta flex-shrink-0">
                    <a href="#" class="btn btn-sm btn-outline-primary"
                      >Schedule</a
                    >
                  </div>
                </li>
                <li class="d-flex align-items-center justify-content-between">
                  <div class="name-avatar d-flex align-items-center pr-2">
                    <div class="avatar mr-2 flex-shrink-0">
                      <img
                        src="../../../assets/vendors/images/photo4.jpg"
                        class="border-radius-100 box-shadow"
                        width="50"
                        height="50"
                        alt=""
                      />
                    </div>
                    <div class="txt">
                      <span
                        class="badge badge-pill badge-sm"
                        data-bgcolor="#e7ebf5"
                        data-color="#265ed7"
                        >4.9</span
                      >
                      <div class="font-14 weight-600">Dr. Callie Reed</div>
                      <div class="font-12 weight-500" data-color="#b2b1b6">
                        Pediatrician
                      </div>
                    </div>
                  </div>
                  <div class="cta flex-shrink-0">
                    <a href="#" class="btn btn-sm btn-outline-primary"
                      >Schedule</a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-20">
          <div class="card-box height-100-p pd-20 min-height-200px">
            <div class="max-width-300 mx-auto">
              <img src="../../../assets/vendors/images/7243316.jpg" alt="" />
            </div>
            <div class="text-center">
              <div class="h5 mb-1">Your Level is <strong>{{user.levelDelivery}}</strong></div>
              <div
                class="font-14 weight-500 max-width-200 mx-auto pb-20"
                data-color="#a6a6a7"
              >
                You Must Delivery more than 100 colis to pass to other level
              </div>
              <a href="#" class="btn btn-primary btn-lg">Upgrade</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-20">
          <div class="card-box height-100-p pd-20 min-height-200px">
            <div class="max-width-300 mx-auto">
              <img src="../../../assets/vendors/images/upgrade.svg" alt="" />
            </div>
            <div class="text-center">
              <div class="h5 mb-1">Your Level is <strong>{{user.levelDelivery}}</strong></div>
              <div
                class="font-14 weight-500 max-width-200 mx-auto pb-20"
                data-color="#a6a6a7"
              >
                You Must Delivery more than 100 colis to pass to other level
              </div>
              <a href="#" class="btn btn-primary btn-lg">Upgrade</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-box pb-10">
        <div class="h5 pd-20 mb-0">Recent Patient</div>
        <table class="data-table table nowrap">
          <thead>
            <tr>
              <th class="table-plus">Name</th>
              <th>Gender</th>
              <th>Weight</th>
              <th>Assigned Doctor</th>
              <th>Admit Date</th>
              <th>Disease</th>
              <th class="datatable-nosort">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                  <div class="avatar mr-2 flex-shrink-0">
                    <img
                      src="vendors/images/photo4.jpg"
                      class="border-radius-100 shadow"
                      width="40"
                      height="40"
                      alt=""
                    />
                  </div>
                  <div class="txt">
                    <div class="weight-600">Jennifer O. Oster</div>
                  </div>
                </div>
              </td>
              <td>Female</td>
              <td>45 kg</td>
              <td>Dr. Callie Reed</td>
              <td>19 Oct 2020</td>
              <td>
                <span
                  class="badge badge-pill"
                  data-bgcolor="#e7ebf5"
                  data-color="#265ed7"
                  >Typhoid</span
                >
              </td>
              <td>
                <div class="table-actions">
                  <a href="#" data-color="#265ed7"
                    ><i class="icon-copy dw dw-edit2"></i
                  ></a>
                  <a href="#" data-color="#e95959"
                    ><i class="icon-copy dw dw-delete-3"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                  <div class="avatar mr-2 flex-shrink-0">
                    <img
                      src="vendors/images/photo5.jpg"
                      class="border-radius-100 shadow"
                      width="40"
                      height="40"
                      alt=""
                    />
                  </div>
                  <div class="txt">
                    <div class="weight-600">Doris L. Larson</div>
                  </div>
                </div>
              </td>
              <td>Male</td>
              <td>76 kg</td>
              <td>Dr. Ren Delan</td>
              <td>22 Jul 2020</td>
              <td>
                <span
                  class="badge badge-pill"
                  data-bgcolor="#e7ebf5"
                  data-color="#265ed7"
                  >Dengue</span
                >
              </td>
              <td>
                <div class="table-actions">
                  <a href="#" data-color="#265ed7"
                    ><i class="icon-copy dw dw-edit2"></i
                  ></a>
                  <a href="#" data-color="#e95959"
                    ><i class="icon-copy dw dw-delete-3"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                  <div class="avatar mr-2 flex-shrink-0">
                    <img
                      src="vendors/images/photo6.jpg"
                      class="border-radius-100 shadow"
                      width="40"
                      height="40"
                      alt=""
                    />
                  </div>
                  <div class="txt">
                    <div class="weight-600">Joseph Powell</div>
                  </div>
                </div>
              </td>
              <td>Male</td>
              <td>90 kg</td>
              <td>Dr. Allen Hannagan</td>
              <td>15 Nov 2020</td>
              <td>
                <span
                  class="badge badge-pill"
                  data-bgcolor="#e7ebf5"
                  data-color="#265ed7"
                  >Infection</span
                >
              </td>
              <td>
                <div class="table-actions">
                  <a href="#" data-color="#265ed7"
                    ><i class="icon-copy dw dw-edit2"></i
                  ></a>
                  <a href="#" data-color="#e95959"
                    ><i class="icon-copy dw dw-delete-3"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                  <div class="avatar mr-2 flex-shrink-0">
                    <img
                      src="vendors/images/photo9.jpg"
                      class="border-radius-100 shadow"
                      width="40"
                      height="40"
                      alt=""
                    />
                  </div>
                  <div class="txt">
                    <div class="weight-600">Jake Springer</div>
                  </div>
                </div>
              </td>
              <td>Female</td>
              <td>45 kg</td>
              <td>Dr. Garrett Kincy</td>
              <td>08 Oct 2020</td>
              <td>
                <span
                  class="badge badge-pill"
                  data-bgcolor="#e7ebf5"
                  data-color="#265ed7"
                  >Covid 19</span
                >
              </td>
              <td>
                <div class="table-actions">
                  <a href="#" data-color="#265ed7"
                    ><i class="icon-copy dw dw-edit2"></i
                  ></a>
                  <a href="#" data-color="#e95959"
                    ><i class="icon-copy dw dw-delete-3"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                  <div class="avatar mr-2 flex-shrink-0">
                    <img
                      src="vendors/images/photo1.jpg"
                      class="border-radius-100 shadow"
                      width="40"
                      height="40"
                      alt=""
                    />
                  </div>
                  <div class="txt">
                    <div class="weight-600">Paul Buckland</div>
                  </div>
                </div>
              </td>
              <td>Male</td>
              <td>76 kg</td>
              <td>Dr. Maxwell Soltes</td>
              <td>12 Dec 2020</td>
              <td>
                <span
                  class="badge badge-pill"
                  data-bgcolor="#e7ebf5"
                  data-color="#265ed7"
                  >Asthma</span
                >
              </td>
              <td>
                <div class="table-actions">
                  <a href="#" data-color="#265ed7"
                    ><i class="icon-copy dw dw-edit2"></i
                  ></a>
                  <a href="#" data-color="#e95959"
                    ><i class="icon-copy dw dw-delete-3"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                  <div class="avatar mr-2 flex-shrink-0">
                    <img
                      src="vendors/images/photo2.jpg"
                      class="border-radius-100 shadow"
                      width="40"
                      height="40"
                      alt=""
                    />
                  </div>
                  <div class="txt">
                    <div class="weight-600">Neil Arnold</div>
                  </div>
                </div>
              </td>
              <td>Male</td>
              <td>60 kg</td>
              <td>Dr. Sebastian Tandon</td>
              <td>30 Oct 2020</td>
              <td>
                <span
                  class="badge badge-pill"
                  data-bgcolor="#e7ebf5"
                  data-color="#265ed7"
                  >Diabetes</span
                >
              </td>
              <td>
                <div class="table-actions">
                  <a href="#" data-color="#265ed7"
                    ><i class="icon-copy dw dw-edit2"></i
                  ></a>
                  <a href="#" data-color="#e95959"
                    ><i class="icon-copy dw dw-delete-3"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                  <div class="avatar mr-2 flex-shrink-0">
                    <img
                      src="vendors/images/photo8.jpg"
                      class="border-radius-100 shadow"
                      width="40"
                      height="40"
                      alt=""
                    />
                  </div>
                  <div class="txt">
                    <div class="weight-600">Christian Dyer</div>
                  </div>
                </div>
              </td>
              <td>Male</td>
              <td>80 kg</td>
              <td>Dr. Sebastian Tandon</td>
              <td>15 Jun 2020</td>
              <td>
                <span
                  class="badge badge-pill"
                  data-bgcolor="#e7ebf5"
                  data-color="#265ed7"
                  >Diabetes</span
                >
              </td>
              <td>
                <div class="table-actions">
                  <a href="#" data-color="#265ed7"
                    ><i class="icon-copy dw dw-edit2"></i
                  ></a>
                  <a href="#" data-color="#e95959"
                    ><i class="icon-copy dw dw-delete-3"></i
                  ></a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-plus">
                <div class="name-avatar d-flex align-items-center">
                  <div class="avatar mr-2 flex-shrink-0">
                    <img
                      src="vendors/images/photo1.jpg"
                      class="border-radius-100 shadow"
                      width="40"
                      height="40"
                      alt=""
                    />
                  </div>
                  <div class="txt">
                    <div class="weight-600">Doris L. Larson</div>
                  </div>
                </div>
              </td>
              <td>Male</td>
              <td>76 kg</td>
              <td>Dr. Ren Delan</td>
              <td>22 Jul 2020</td>
              <td>
                <span
                  class="badge badge-pill"
                  data-bgcolor="#e7ebf5"
                  data-color="#265ed7"
                  >Dengue</span
                >
              </td>
              <td>
                <div class="table-actions">
                  <a href="#" data-color="#265ed7"
                    ><i class="icon-copy dw dw-edit2"></i
                  ></a>
                  <a href="#" data-color="#e95959"
                    ><i class="icon-copy dw dw-delete-3"></i
                  ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>




